<!DOCTYPE html>
<head>
    <style>
        .state {
            fill: lightgoldenrodyellow;
            stroke: #a9a9a9;
            stroke-width: 1;
        }

        .state:hover {
            /*fill-opacity:0.5;*/
            fill: #000000;
        }

        .wrapper {
            width: 100%;
            height: 60vh;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="wrapper" id="map">
    <svg viewBox="0 0 1000 600" id="statesvg" xmlns="http://www.w3.org/2000/svg"></svg>
</div>
<p ng-bind="$ctrl.hi || 'Hallo'"></p>
</body>
