<!DOCTYPE html>
<meta charset="utf-8">
<style>
    .state {
        fill: lightgoldenrodyellow;
        stroke: #a9a9a9;
        stroke-width: 1;
    }

    .state:hover {
        /*fill-opacity:0.5;*/
        fill: #000000;
    }
</style>
<body>
<svg width="960" height="600" id="statesvg"></svg>
<script src="uStates.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

    uStates.draw("#statesvg");
    d3.select(self.frameElement).style("height", "600px");
</script>
</body>