<div layout="row">
    <md-card flex="60" layout="column">
        <md-card-title flex="10">
            <md-card-title-text>
                <span class="md-headline">United States Map</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content flex="90">
            <worldmap getstate="$ctrl.getState(state)">
            </worldmap>
        </md-card-content>
    </md-card>

    <md-card flex="40" style="overflow: scroll">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">State Info</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <year state="$ctrl.currentState"></year>
            <age></age>
        </md-card-content>
    </md-card>
</div>