<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gender</title>

    <script src="../d3.min.js"></script>
    <script src="../papaparse.min.js"></script>
    <style>
        svg {
            width: 80%;
            height: auto;
        }
        span {
            color: #55f;
        }
    </style>
</head>
<body>

    <p id="stateName" style="display: none">{{ $ctrl.state }}</p>
    <svg viewBox="0 0 400 200" id="sexPiechart">
        <rect x="0" y="0" width="400" height="200" stroke="#000" stroke-width="5px" fill="#fff"></rect>
    </svg>

    <p>
        Showing the gender of criminals and victims for <span id="state">Illinois</span> in the year 2017.
        Of known cases, <span id="malePercentage"></span>% were male and <span id="femalePercentage"></span>% female.
        The majority of criminals is <span id="majorCriminals"></span> and the majority of victims is <span id="majorVictims"></span>.
    </p>

    <script>
        let percentages = [];
        let percentageOffender = [];
        let stateName = document.getElementById("state").innerText;
        let svg = d3.select("svg#sexPiechart");
        let g = svg.append("g").attr("transform", "translate(100,100)");

        Papa.parse('../../../../csv/offender_sex.csv', {
            header: true,
            download: true,
            dynamicTyping: true,
            complete: function (results) {
                console.log("csv found", results);
                let data = [];
                results.data.forEach(e => {
                    if (e.State === stateName.replace(/ /g,'')) {
                        console.log("state found", e);

                        document.getElementById("malePercentage").innerText = e.Male / (e.Male + e.Female) * 100;
                        document.getElementById("femalePercentage").innerText = e.Female / (e.Male + e.Female) * 100;
                        document.getElementById("majorCriminals").innerText = (e.Male > e.Female)? "male" : "female";

                        let sum = e.Male + e.Female + e.Unknown;
                        percentages.push(e.Male / sum);
                        percentages.push(e.Female / sum);
                        percentages.push(e.Unknown / sum);
                        percentageOffender.push(e.Male / sum);
                        percentageOffender.push(e.Female / sum);
                        percentageOffender.push(e.Unknown / sum);

                        console.log("offeneder percantes calculated", percentageOffender);
                        console.log("percentages set", percentages);

                        let arc = d3.arc().innerRadius(0).outerRadius(80);
                        let arcs = d3.pie()(percentages);

                        console.log("arcs made", arc(arcs[0]));

                        let chart = g.selectAll("path")
                            .data(arcs)
                            .enter()
                            .append("path")
                            .style("fill", function (d,i) {
                                switch (i) {
                                    case 0: return "#55f"; break;
                                    case 1: return "#f55"; break;
                                    case 2: return "#555"; break;
                                }
                            })
                            .attr("d", arc)
                            .on("mouseenter", function (d,i) {
                                switch (i) {
                                    case 0: console.log("mouse enter male"); break;
                                    case 1: console.log("mouse enter female"); break;
                                    case 2: console.log("mouse enter unknown"); break;
                                }
                            });

                        g.on("mouseleave", function () {
                            console.log("mouse leave");
                            g.remove();
                            g = svg.append("g").attr("transform", "translate(100,100)");

                        });

                        /*for (let i = yearRange[0]; i <= yearRange[yearRange.length - 1]; i++) {
                            data.push([i, e[i]]);
                            dataRange.push([e[i]]);
                        }

                        //Extra-Info
                        document.getElementById("yearHighest").innerText = d3.max(dataRange);
                        for (let i = 0; i < data.length; i++) {
                            if (data[i][1] === d3.max(dataRange)[0])
                                document.getElementById("highestYear").innerText = data[i][0];
                        }
                        document.getElementById("yearAverage").innerText = d3.mean(dataRange);

                        console.log("data generated", data);
                        let lineGenerator = d3.line().curve(d3.curveNatural);
                        let pathString = lineGenerator(data);
                        console.log("path string generated", pathString);
                        let scaleX = d3.scaleLinear().domain([d3.min(yearRange), d3.max(yearRange)]).range([25, 390]);
                        console.log("vertical range", [d3.min(yearRange), d3.max(yearRange)]);
                        let scaleY = d3.scaleLinear().domain(/*[d3.min(dataRange), d3.max(dataRange)]*//*[0, 850]).range([180, 10]);
                        console.log("horizontal range", [d3.min(dataRange), d3.max(dataRange)]);
                        let scaledValues = [];
                        for (let i = 0; i < yearRange.length; i++) {
                            scaledValues.push([scaleX(yearRange[i]), scaleY(e[yearRange[i]])]);
                        }

                        for(let i = 1; i < scaledValues.length; i++) {
                            svg.append("line")
                                .attr("x1", "" + scaledValues[i][0])
                                .attr("y1", "180")
                                .attr("x2", "" + scaledValues[i][0])
                                .attr("y2", "10")
                                .attr("style", "stroke: #bebebe; stroke-width: 1.5");
                        }
                        for(let i = 100; i <= 800; i+= 100) {
                            svg.append("line")
                                .attr("x1", "390")
                                .attr("y1", "" + scaleY(i))
                                .attr("x2", "25")
                                .attr("y2", "" + scaleY(i))
                                .attr("style", "stroke: #bebebe; stroke-width: 1.5");
                        }

                        console.log("values scaled down", scaledValues);
                        pathString = lineGenerator(scaledValues);
                        console.log("scaled path string generated", pathString);

                        svg.append('path')
                            .attr("id", "yearCurve")
                            .attr('d', pathString)
                            .attr('stroke', 'red')
                            .attr('fill', 'none')
                            .attr('stroke-linecap', 'butt')
                            .attr("style", "stroke-width: 2");

                        //<g class="horizontalAxis" transform="translate(0, 170)" />
                        //<g class="verticalAxis" transform="translate(30, 0)" />
                        let horizontalAxis = d3.axisBottom().scale(scaleX).tickFormat(d3.format("d"));
                        svg.append("g")
                            .attr("class", "horizontalAxis")
                            .attr("transform", "translate(0, 180)")
                            .attr("style", "font-size: 8px")
                            .call(horizontalAxis);
                        let verticalAxis = d3.axisLeft().scale(scaleY).tickFormat(d3.format("d"));
                        svg.append("g")
                            .attr("class", "verticalAxis")
                            .attr("transform", "translate(25, 0)")
                            .attr("style", "font-size: 8px")
                            .call(verticalAxis);
                    */
                    }
                });
            }
        });
    </script>

</body>
</html>